.home {
  position: relative;
}
.home__banner {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15rem 5rem;
}

.home__banner__img {
  width: 105%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  filter: brightness(0.7);
}

.home__title-container {
  align-self: flex-start;
  width: 70rem;
}
.home__search {
  /* align-self: flex-start; */
  justify-self: center;
}
.home__section {
  padding: 10rem 5rem;
  width: 100%;
  max-width: 120rem;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}
.mg-bottom {
  margin-bottom: 5rem;
}
.mg-top {
  margin-top: 5rem;
}
.home__lab-container {
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home__lab-icon {
  height: 13rem;
  margin: 0 auto;
}
.home__lab-icon--praxi {
  transform: scale(1.1);
}
.home__lab-icon--cospaces {
  transform: scale(1.3);
}
.home__lab-icon--tinker {
  transform: scale(0.7);
}

.home__section--side {
  display: grid;
  grid-template-columns: 1fr 57rem;
  gap: -10rem;
  width: 100%;
  max-width: 1200px;
  text-align: right;
  padding: 0;
  margin: 15rem auto;
}

.home__side__text-container {
  display: flex;
  flex-direction: column;
  justify-self: end;
}
.home__side-title {
  font-size: 6rem;
  line-height: 6.5rem;
  font-weight: 800;
  margin-bottom: 2rem;
}

.home__side__image {
  width: 100%;
  transform: scale(1.6);
  z-index: -1;
}

.home__side__button {
  font-size: 2rem;
  padding: 1rem 2rem;
}

.home__areas {
  margin: 5rem auto;
}

.home__section__secondary-banner {
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 80vh;
  max-width: none;
  margin: 0 !important;
  position: relative;
}

.home__section__secondary-banner__img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.1);
  z-index: -1;
}

.home__section__secondary-banner__text {
  z-index: 1;
  text-align: right;
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding-top: 10rem;
  font-size: 5rem;
  font-weight: 600;
  line-height: 5rem;
  color: white;
}

.home__regitrate-container {
  position: absolute;
  top: 0;
  left: 100%;
  transform: translate(-100%, -5rem);
}
.home__regitrate-container span {
  margin-top: 7rem;
  font-size: 2.5rem;
  font-weight: 800;
  text-align: right;
  display: block;
  width: 25rem;
}

.home__regitrate-container__svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%) scale(2.5);
}
