.lab__section {
  width: 100%;
  max-width: 120rem;
  margin: 10rem auto;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content min-content;
  grid-template-areas: "icon-area title" "icon-area ext";
  gap: 6.8rem 5rem;
  padding: 0 1rem;
}
@media screen and (max-width: 1300px) {
  .lab__section {
    gap: 3rem 0rem;
  }
}
@media screen and (max-width: 700px) {
  .lab__section {
    gap: 0rem 1rem;
  }
}
@media screen and (max-width: 600px) {
  .lab__section {
    padding: 0 2rem;
    margin: 5rem auto;
  }
}
@media screen and (max-width: 500px) {
  .lab__section {
    gap: 0rem 1rem;
  }
}

.lab__icon-container {
  padding: 2rem 1rem;
  width: 26rem;
  height: 29.2rem;
  text-align: center;
  font-size: 1.8rem;
  display: grid;
  grid-template-rows: 11rem auto;
  gap: 1rem;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .lab__icon-container {
    padding: 1.8rem 0.9rem;
    width: 23rem;
    height: 25.2rem;
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 450px) {
  .lab__icon-container {
    padding: 1.5rem 0.8rem;
    width: 18rem;
    height: auto;
    font-size: 1.5rem;
  }
}

.lab__icon-container--ext {
  grid-area: icon-area;
  justify-self: start;
  align-self: start;
}

.lab__icon-svg {
  width: 10rem;
  justify-self: center;
  align-self: center;
}
@media screen and (max-width: 650px) {
  .lab__icon-svg {
    width: 8.5rem;
  }
}
@media screen and (max-width: 450px) {
  .lab__icon-svg {
    width: 7rem;
  }
}

.lab__section__title {
  font-size: 4rem;
  font-weight: 800;
  line-height: 4rem;
  grid-area: title;
}
@media screen and (max-width: 850px) {
  .lab__section__title {
    font-size: 3rem;
    line-height: 3rem;
    transform: translateY(-2rem);
  }
}
@media screen and (max-width: 700px) {
  .lab__section__title {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}
@media screen and (max-width: 500px) {
  .lab__section__title {
    font-size: 2rem;
    line-height: 2rem;
  }
}
@media screen and (max-width: 450px) {
  .lab__section__title {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
}
