.account {
  display: grid;
  width: 100%;
  max-width: 150rem;
  margin: 0 auto;
  grid-template-columns: min-content 1fr;
  padding: 3rem 1rem;
  overflow: hidden;
}
@media screen and (max-width: 700px) {
  .account {
    grid-template-columns: 1fr;
  }
}

.account__banner-colored {
  width: 100%;
  height: 12rem;
  background: linear-gradient(to left, #941b80, #2ea8d3);
}

.account__content {
  padding: 1rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  width: 100%;
}
.user-card__button--ext {
  width: 100%;
}
.user-card__button.selected {
  background-color: transparent;
  color: white;
}

.account a {
  color: black !important;
}

.account__form {
  margin: 2rem 5rem;
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: start;
  gap: 1rem;
  align-self: flex-start;
}
@media screen and (max-width: 700px) {
  .account__form {
    grid-template-columns: 1fr;
  }
}

.account__form > label {
  font-weight: 600;
  font-size: 1.4rem;
  text-align: left;
}

.account__input-container {
  max-width: 30rem;
}

.account__input-container--big {
  max-width: 50rem;
}
.account__input {
  font-size: 1.6rem;
  padding: 0.8rem 1rem;
  width: 100%;
}

.account__form__button {
  margin-top: 1rem;
}
.account__input__image-container {
  width: 30rem;
  margin-left: 5rem;
}

.areas-grid__element,
.labs-grid__element {
  width: 25rem !important;
  height: 14rem !important;
  margin: 1rem 1rem !important;
}

@media screen and (max-width: 850px) {
  .areas-grid__element,
  .labs-grid__element {
    width: 22rem !important;
    height: 12.5rem !important;
  }
}
@media screen and (max-width: 700px) {
  .areas-grid__element,
  .labs-grid__element {
    width: 19rem !important;
    height: 12.5rem !important;
  }
}
@media screen and (max-width: 500px) {
  .areas-grid__element,
  .labs-grid__element {
    width: 18rem !important;
    height: 11.5rem !important;
  }
}
@media screen and (max-width: 400px) {
  .areas-grid__element,
  .labs-grid__element {
    width: 15.5rem !important;
    height: 9rem !important;
  }
}
