.account {
  display: grid;
  grid-template-columns: min-content 1fr;
  padding: 3rem 6rem;
}
.account__banner-colored {
  width: 100%;
  height: 12rem;
  background: linear-gradient(to left, #941b80, #2ea8d3);
}

.account__content {
  padding: 1rem 3rem;
  text-align: center;
}

.user-card__button.selected {
  background-color: transparent;
  color: white;
}

.account a {
  color: black !important;
}

.account__form {
  margin: 2rem 5rem;
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: start;
  gap: 1rem;
}

.account__form > label {
  font-weight: 600;
  font-size: 1.4rem;
  text-align: left;
}

.account__input-container {
  max-width: 30rem;
}

.account__input-container--big {
  max-width: 50rem;
}
.account__input {
  font-size: 1.6rem;
  padding: 0.8rem 1rem;
  width: 100%;
}

.account__form__button {
  margin-top: 1rem;
}
.account__input__image-container {
  width: 30rem;
  margin-left: 5rem;
}
